/* CSS Document */

* {
	padding: none;
	margin: none;
	border: none;
}

body {
	background-color: white;
}

header {
	background-image: url(../images/index_pic.jpeg);
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
}

header h1 {
	font-size: 5em;
	font-weight: bold;
	color: black;
}

header h2 {
	font-weight: bold;
	font-size: 3em;
	color: red;
}

.hnav {
	padding: 5px 0;
	width: 100%;
	background-color: #11181e;
	min-height: 50px;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	background-color: #11181e;
	margin-top: .8%;
}

.hnav a {
	color: gray;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav ul li:hover {
	background-color: red;
	text-decoration: underline;
}

main {
	
}

.currency {
	height: 500px;
	width: 500px;
}

.events1 {
	height: 500px;
	width: 500px;
}

.events2 {
	height: 500px;
	width: 500px;
}

.studio {
	height: 500px;
	width: 500px;
}

.newsletter {
	height: 500px;
	width: 500px;
}

blockquote {
	
}

table {
	
}

footer {
	background-color: black;
	color: aliceblue;
}

footer h4 h5 h6 {
	text-align: center;
}