/* CSS Document */

* {
	padding: none;
	margin: none;
	border: none;
}

body {
	
}

header {
	background-image: url(../images/index_pic.jpeg);
	background-repeat: no-repeat;
}

header h1 {
	font-size: 5em;
	font-weight: bold;
	color: black;
}

header h2 {
	font-weight: bold;
	font-size: 3em;
	color: red;
}

header nav {
	background-color: grey;
	color: black;
	text-decoration: none;
}

.hnav {
	background-color: black;
	color: aliceblue;
}

nav ul li {
	display: inline-block;
	padding: 10px;
	margin: 10px;
}
.hnav ul li :hover {
	background-color: red;
	text-decoration: underline;
}

main {

}



blockquote {
	
}

table {
	
}

footer {
	background-color: black;
	color: aliceblue;
}

footer h4 h5 h6 {
	text-align: center;
}