/* CSS Document */

* {
	padding: none;
	margin: none;
	border: none;
}

body {
	
}

header {
	
}

header h1 {
	
}

header h2 {
	
}

header nav {
	
}

.hnav {
	
}

.hnav:hover {
	
}

main {
	
}

blockquote {
	
}

table {
	
}

footer {
	
}